
@font-face {
    font-family: myFirstFont;
    src: url(Ketchum.ttf);
}

[class*="hide"] {
    display: none;
}

input {
    width: 40px;
}

input, label, div, p, th, tr, table, option, legend, button, label, select {
    font-family: sans-serif;
    font-size: 12pt;
    font-family: myFirstFont;
}

body {
    background-color: #b3e6ff;
}
